[submodule "STAWnet"]
	path = STAWnet
	url = https://github.com/CYBruce/STAWnet.git
[submodule "DCRNN"]
	path = DCRNN
	url = https://github.com/liyaguang/DCRNN.git
[submodule "Graph-WaveNet"]
	path = Graph-WaveNet
	url = https://github.com/sshleifer/Graph-WaveNet.git
[submodule "models/Graph-WaveNet"]
	path = models/Graph-WaveNet
	url = https://github.com/sshleifer/Graph-WaveNet.git
[submodule "models/STGCN_IJCAI-18"]
	path = models/STGCN_IJCAI-18
	url = https://github.com/VeritasYin/STGCN_IJCAI-18.git
[submodule "models/ASTGCN-r-pytorch"]
	path = models/ASTGCN-r-pytorch
	url = https://github.com/guoshnBJTU/ASTGCN-r-pytorch.git
[submodule "models/STNN"]
	path = models/STNN
	url = https://github.com/songyangco/STNN.git
[submodule "models/GMAN"]
	path = models/GMAN
	url = https://github.com/zhengchuanpan/GMAN.git
[submodule "models/STAWnet"]
	path = models/STAWnet
	url = https://github.com/CYBruce/STAWnet.git
